# ignore these folders
__pycache__
.idea


#ignore these files
.ipynb_checkpoints
*/.ipynb_checkpoints/* .ipynb
styleganinv_ffhq256_encoder.pth
styleganinv_ffhq256_generator.pth
ckpt-25.data-00000-of-00001
ckpt-25.index